.cook {
    width: 200px;
    height: 270px;
    border: 10px dashed #7f8c8d;
    border-radius: 15px;
    margin-right: 30px;
    padding: 0 15px;
    text-align: center;
    background-color : #95a5a6;
    color: #000000;    
    transition: all 0.5s ease-in;
    box-sizing: border-box;
}
.cook.stop{
    background-color : #e74c3c;
    border-color: #c0392b;
    color: #ecf0f1;  
}
.cook.pause{
    background-color : #e67e22;
    border-color: #d35400;
    color: #ecf0f1;      
}
.cook.play {
    background-color : #2ecc71;
    border-color: #27ae60;
    color: #000;
}
.cook h2 {
    text-transform: uppercase;    
}
.cook .total {
    margin-top: 5px;
    font-size: 10px;  
    padding: 5px 0;
    background-color: #d35400;
    transition: all 0.5s ease-in;
}
.cook.ready .total {
    background-color: #1abc9c;
}
.cook .timing {
    margin-top: 15px;
    font-size: 40px;
    color: #000;
}
.cook .players {
    margin-top: 10px;
}
.cook .players button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #c6c6c6;
    margin: 0 2px;
    border: 2px solid #505050;
    border-radius: 5px;
    cursor: pointer;
}

.cook .players button img {
    transform: translate(-1px, 2px);
    width: 15px;
}